h1{
    font-style: oblique;

    text-align: center;
    color: bisque;
    text-decoration: underline;
    
 }
 img{
    box-shadow: 5px solid rgb(146, 151, 68);
    border: 5px solid black;
   
 }
 
 h2,h3{

    color:rgb(173, 119, 47);
    text-align: center; 
    display: flexbox;
    font-style: oblique;
    text-decoration: dotted;
    text-shadow: 3px 4px 5px rgb(18, 137, 184);
    font-weight: 500;
}
body{
    background-image: url(360_F_391461057_5P0BOWl4lY442Zoo9rzEeJU0S2c1WDZR.jpg);
    
   
    font-weight:200;
    
    margin-top: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    align-content: centers;
    
}
body img{
    opacity;0.2;
}
